$white:#ffffff;
$black:#000000;
$heading:#42464B;
$para: #696C70;
$foo-bg: #000C2D;
$btn-blue:#93BDD0;
$bg-tab: #F4F8F9;
$grey: #979797;
$bg-orange: linear-gradient(141.76deg, #E0821F 0%, #BE4B0D 100%);
$darkblue: #312D3C;
$orange: #FF5600;